{% extends 'index.html' %}
{% block content %}

<h2 class="text-center text-secondary h1">Регистрация</h2>

<form method="post">
    {% csrf_token %}
    {% for field in registration_forms %}
        <div class="">{{field.label_tag}}</div>
        {{field}}

        {% if field.help_text %}
            <small style="color: grey">{{field.help_text}}</small>
        {% endif %}
        
        {% if error in field.errors %}
            <small style="color: reg">{{error}}</small>
        {% endif %}
        <br>
    {% endfor %}
    <button class="btn btn-outline-primary" type="submit">Отправить</button>
</form>
{% endblock content %}